body {
    text-align: center;
    /* background: url("https://img.freepik.com/free-vector/background-scene-with-trees-woods_1639-3203.jpg?size=626&ext=jpg")no-repeat center; */
    background-size: contain;
    padding:0;
    margin:0;
}
 *{
   font-family: "Roboto", sans-serif;
 }

 h1{
   text-transform: uppercase;
 }

img{
  cursor: pointer;
}
